.bg-header {
    background: #8B083F;
    padding: 5px 15px;
}
.bg-header a {
    color: #fff;
}

.bg-dashboasd {
    background: #FFDE59;
    height:100vh;
}

.logo img {
    width: 100%;
    height: 50px;
}

hr {
    background-color: black;
    margin-top: unset;
}

.dropdown-item.active {
    background-color: #8B083F;
}

.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #8b083f09;
}

.button:focus {
    outline: 1px dotted;
}
.nav-pills a {
    color: #000;
}

.scroll {
    width: 100%;
    height: 93vh;
    position: relative;
    overflow-y: scroll;
}

.btn-background {
    background-color: #8B083F;
    color: #fff;
}

.img-table {
    width: 80px;
    height: 80px;
    margin: auto;
}

.img-table img {
    width: 100%;
    height: 100%;
}

.btn-icon {
    width: 50px;
}

.btn-icon img {
    width: 80%;
    height: 80%;
}

.image {
    max-width: 300px; 
    max-height: 300px;
}

.gap-10 {
    gap: 10px;
}

.scoll-right {
    height: 100vh;
    overflow: auto;
}

.img-show {
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
}

.table td, .table th {
    padding: 0.2rem;
}

.table-bordered tr td,
.table-bordered tr th {
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
}

th a {
    text-decoration: none;
    color: #000;
}

th a:hover {
    color: unset;
    text-decoration: none;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #3b3a3a;
  }
  
  .arrow-down {
    margin-top: 2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #3b3a3a; 
  }

  .sort {
    margin-left: 5px;
  }

  .dropdown-item:hover {
    color: #000;
  }