.home-center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    justify-content: center;
    align-items: center;
}

.logo-home {
    width: 270px;
    height: 85px;
}

.bg-menu {
    background-color: #FFF2C0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
}