body th td {
	font-size: 16px !important;
}
.bg-header {
    background-color: #FFDE59;
    height: 75px;
    margin-top: 20px;
}
.bg-header img {
    height: 100%;
}

.h-icon {
    height: 20px;
}

.text-icon {
    width: 50px;
    border: none;
    text-align: center;
	background-color: unset !important;;
    color: white;
}

.plus-button {
	border: 2px solid #000;
	background-color: #fff;
	font-size: 12px;
	height: 20px;
	width: 20px;
	border-radius: 999px;
	position: relative;
	
	&:after,
	&:before {
		content: "";
		display: block;
		background-color: #000;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&:before {
		height: 1em;
		width: 0.2em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}

.minus-button {
	border: 2px solid #000;
	background-color: #fff;
	font-size: 12px;
	height: 20px;
	width: 20px;
	border-radius: 999px;
	position: relative;
	
	&:after,
	&:before {
		content: "";
		display: block;
		background-color: #000;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	
	&:before {
		height: 0.2em;
		width: 1em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}


.position-relative img {
	height: 100%;
}

.h-cart {
	height: 40px;
	width: 40px;
}

.p-circle {
	padding: 5px;
}

.w-cart {
	width: 98%;
}

#navbarSupportedContent .btn:focus {
	box-shadow: none;
}

.img-thumbnail {
	height: 110px;
}

.card img {
	height: 200px;
}

@media (max-width: 1024px) {
    .mr-auto{
		background-color: white;
		text-align: center;
		padding: 20px;
	}
}
body {
	padding-top: 56px; 
}

#headerDish {
	padding-top: 50px; 
}
.price {
	color: red;
}

.search-header {
	width: 250px;
	margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color:#000;
}

.badge {
	margin-left: 15px;
}

.bg-footer {
	background: rgba(0, 0, 0, 0.85);
	border-block-start: 1px solid #37332a;
    block-size: 70px;
}

.menu-item .menu-img {
    inline-size: 80px;
    block-size: 80px;
	margin-inline-end: 20px;
	margin-inline-start: 20px;
    border-radius: 25%;
    float: inline-start;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.menu-item .menu-content {
	margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-item .menu-ingredients {
    margin-inline-start: 0px;
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.flex-container {
	display: flex;
	flex-direction: column;
	margin: 4px 0;
  }

#gia {
	background-color: black;
    color: #fff;
    border: unset;
	padding-left: 10px;
}

.model-order {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100vh;
}